---
# custom settings
#kube_version: v1.28.12
kubeadm_version: "{{kube_version}}"
registry_host: "store.e-byte.cn"
#registry_host_ip: "10.1.69.240"
#kube_network_plugin: flannel
# calico_version: "v3.28.1"
calico_crds_archive_checksum: "ignore_checksum_placeholder"
calicoctl_binary_checksum: "ignore_checksum_placeholder"
loadbalancer_apiserver_keepalive_timeout: 5m
metrics_server_version: "v0.6.4"
flannel_version: "{{ kube_network_version if kube_network_plugin == 'flannel' else 'v0.22.0' }}"
calico_version: "{{ kube_network_version if kube_network_plugin == 'calico' else 'v3.26.1' }}"
flannel_supported_versions:
  v0.22.0: "v1.1.2"
  v0.26.5: "v1.6.2-flannel1"
  v0.27.3: "v1.7.1-flannel1"
flannel_cni_version: "{{ flannel_supported_versions[flannel_version] }}"
# 默认配置metrics-server
metrics_server_enabled: true
#image_arch: amd64
# 自动更新证书
auto_renew_certificates: true
# 关闭nodelocaldns
enable_nodelocaldns: false
# 配置Ansible受控节点下载文件和镜像的逻辑
download_force_cache: true
download_localhost: true
download_run_once: true
# 将containerd配置镜像仓库的方式改为路径
containerd_use_config_path: true
#offline_cache_dir: /root/data/offline/spray-2.26.0-k8s-1.28.12_amd