name: "Build Package Workflow"

on:
  push:
    tags:
      - '*'

jobs:
  build-package:
    runs-on: ubuntu-latest
    env:
      REGISTRY: ghcr.io
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Get Version
      id: get_version
      run: echo "version=${{ github.ref_name }}" >> $GITHUB_OUTPUT

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Pull and Save Docker images
      run: |
        IMAGES=$(awk '/image:/ {print $2}' ${{ github.workspace }}/deploy/docker-compose.yml)
        for IMG in $IMAGES; do
          docker pull "$IMG"
        done
        docker save -o kubeaver-${{ steps.get_version.outputs.version }}.tar $IMAGES

    - name: Prepare package
      run: |
        mkdir -p package/deploy
        cp ${{ github.workspace }}/deploy/docker-compose.yml package/deploy/
        cp ${{ github.workspace }}/deploy/nginx-proxy.conf package/deploy/
        cp ${{ github.workspace }}/deploy/start.sh      package/deploy/
        cp ${{ github.workspace }}/deploy/stop.sh       package/deploy/
        mv kubeaver-${{ steps.get_version.outputs.version }}.tar package/

    - name: Create tarball
      run: tar -czvf kubeaver-offline-installer-${{ steps.get_version.outputs.version }}.tgz -C package .

    - name: Upload package artifact
      uses: actions/upload-artifact@v4
      with:
        name: kubeaver-offline-installer
        path: kubeaver-offline-installer-${{ steps.get_version.outputs.version }}.tgz