name: Build Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Select a tag to build'
        required: true
        default: 'v1.0.0'
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: dbsave/kubeaver

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.19.1]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies in frontend
      run: |
        cd frontend
        npm install

    - name: Build frontend
      run: |
        cd frontend
        npm run build

    - name: Create backend directory
      run: mkdir -p backend/static

    - name: Move dist to backend and rename
      run: |
        mv frontend/dist/* backend/static
        
    - name: Move backend to Dockerfile
      run: |
        mv backend Dockerfile/backend
        
    - name: Install dependencies in backend
      run: |
        cd Dockerfile/backend
        npm install
        
    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.action }}
        
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@988b5a0280414f521da01fcc63a27aeeb4b104db # v3.6.1      

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: Dockerfile
        file: Dockerfile/Dockerfile
        push: true
        pull: true
        platforms: linux/amd64
        tags: ghcr.io/dbsave/kubeaver:v2.0.0
        provenance: true
        cache-from: type=gha
        cache-to: type=gha,mode=max
